

body{background-color:#000000;}
canvas{border: 1px solid #000; background-color: #ffffff; cursor:crosshair;}
#container{
    background-image: url('img/background.png');
    max-width: 460px;
    height: 600px;
    margin:60px auto;
}
#box{
    width:400px;
    height:24%;
    margin-top: 6px;
    margin-left: 28px;
}
#tool_box{
    width:90%;
    height:25px;
    margin-top: 20px;
    margin-left: 12px;
}
#color_box{
    width:90%;
    height:25%;
    margin-top: 4px;
    margin-left: 12px;
    border:1px #B0A489 solid;
}
#font_box{
    width:90%;
    height:40%;
    margin-top: 4px;
    margin-left: 12px;
    border:1px #B0A489 solid;
}

.butt {
    margin-top: 10px;
    margin-left: 5px;
    float: left;
}
.tool{
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 10px;
    text-align: center;
}




.font_size {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
}


.color {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#purple {
    background-color: purple;
}
#yellow {
    background-color: yellow;
}
#orange {
    background-color: orange;
}
#pink {
    background-color: pink;
}
#black {
    background-color: black;
}
#white {
   background-color: white;
}
#ebebeb {
    background-color: #ebebeb;
    margin-right: 20px;
}